@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,300,200);

/* CSS Generale */

h3 {
	font-family: 'Roboto', sans-serif;
 	letter-spacing: 1px;
 	text-align: center;
 	line-height: 1.6em;
 	font-weight: 300;
 	margin-bottom: 5px;
	color: #111;
}

h1,
h2,
h4 {
	font-family: 'Roboto', sans-serif;
 	letter-spacing: 1px;
 	text-align: center;
 	line-height: 1.6em;
 	font-weight: 300;
 	margin-top: 0px;
 	color: #FF2E4C;
}

a {
	text-decoration: none;
	color: #FF2E4C;
}

p {
	font-family: 'Roboto', sans-serif;
 	letter-spacing: 1px;
 	text-align: center;
 	font-weight: 300;
 	color: #333;
}

/*  CSS Header + Nav  */

.header {
	text-align: center;
	background-color: #333;
	height: 50px;
}

nav {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	height: 50px;

}

nav ul {
	margin: 0;
	padding: 0;
	width: 500px;
	list-style: none;
	display: inline-block;
}

nav ul li {
	display: inline-block;
	padding: 10px;
	margin-top: 5px;
	width: 70px;
}

nav ul li a {
	font-family: 'Roboto', sans-serif;
	text-decoration: inherit;
 	letter-spacing: 1px;
 	text-align: center;
 	font-weight: 300;
 	color: #EEE;
}

/*  CSS About Section  */

.about {
	text-align: center;
	width: 100%;
	background-color: #AAA;
}

.about-text {
	display: inline-block;
	width: 1000px;
	margin-bottom: 30px;
}

.about-text img {
	margin-top: 20px;
	width: 100px;
}

/*  CSS Slider  */

.slider-area {
	text-align: center;
	width: 100%;
	height: 540px;
	background-color: #DDD;
}

#slider-box {
	margin-top: 20px;
	display: inline-block;
	width: 1000px;
	height: 500px;
}

#slider {
	display: inline-block;
	width: 1000px;
	height: 500px;
}

#previous, #next {
	display: inline-block;
	position: relative;
	height: 500px;
	width: 60px;
}

#next img {
	position: absolute;
	left: 10px;
	top: 200px;
	width: 50px;
}

#previous img {
	position: absolute;
	right: 10px;
	top: 200px;
	width: 50px;
}

/*  CSS Review Section  */

.container-post {
	background-color: #DDD;
}

.content-post-wrap {
	text-align: center;
	width: 1060px;
	margin: 0 auto;
	background-color: #DDD;
}

.content-post-header {
	display: inline-block;
	width: 100%;
	height: 30px;
	margin-bottom: 20px;
}

.row-post {
	display: inline-block;
}

.content-post {
	display: inline-block;
	position: relative;
	width: 300px;
	margin: 10px;
}

.post img {
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
	width: 300px;
	height: 300px;
}

#about-tyler {
	position: absolute;
	top: 310px;
	z-index: 2;
}

#about-prodigy {
	position: absolute;
	top: 310px;
	left: -324px;
	z-index: 2;
}

#about-softmoon {
	position: absolute;
	top: 310px;
	right: 0px;
	z-index: 2;
}

#about-ratking {
	position: absolute;
	top: 310px;
	z-index: 2;
}

#about-action {
	position: absolute;
	top: 310px;
	left: -324px;
	z-index: 2;
}

#about-kendrick {
	position: absolute;
	top: 310px;
	right: 0px;
	z-index: 2;
}

#about-lightning {
	position: absolute;
	top: 310px;
	z-index: 2;
}

#about-moon {
	position: absolute;
	top: 310px;
	left: -324px;
	z-index: 2;
}

#about-goats {
	position: absolute;
	top: 310px;
	right: 0px;
	z-index: 2;
}

.hidden-div {
	display: none;
	width: 948px;
	height: 490px;
	background-color: #DDD;
}

/*  CSS Form Section  */

.form {
	text-align: center;
	width: 100%;
	background-color: #AAA;
}

/*  CSS Footer Section  */

.footer {
	width: 100%;
	height: 70px;
	background-color: #333;
	text-align: center;
}

.footer img {
	display: inline-block;
	margin-top: 10px;
	width: 50px;
}

/*################################ form #################################################################*/

.error{
    display:none;
    color: red;
    font-style: italic;
    font-size: 10px;
}
#form li{
    list-style-type: none;


}
.classnom{
margin-right:45%;
}
.classusername{
margin-right:45%;
    position:relative;
    top:50px;
}
.classsexe{
margin-right:45%;
    position:relative;
    top:50px;

}
.classage{
margin-left:45%;
    position:relative;
   bottom:280px;
}
.classmuspref {
    margin-left: 45%;
    position: relative;
    bottom: 237px;
}
#nom {
    position:relative;
    left:-21px;
}
#prenom{
    position:relative;
    left:-8px;
}
#courriel{
    position:relative;
    left:22px;
}
#username{
    position:relative;
    left:22px;
}
#password{
    position:relative;
    left:11px;
}
#password_confirm{
    position:relative;
    left:48px;
}
#lnom{position:relative;left:-17px;}
#lprenom{position:relative;left:-8px;}
#lcourriel{position:relative;left:23px;}
#lusername{position:relative;left:19px;}
#lpassword{position:relative;left:9px;}
#lconfirm_password{position:relative;left:45px;}
#masc{position:relative;
    right:48px; }
#fem{position:relative;
    left:4px;}
#radio1{position:relative;
    left:-19px;}
#radio2{position:relative;
    left:-19px;}
#radio3{position:relative;
    left:-20px;}
#radio4{position:relative;
    left:-31px;}
#preference1{position:relative;
    left:-21px;}
#preference2{position:relative;
    left:-35px;}
#preference3{position:relative;
    left:-28px;}
#preference4{position:relative;
    left:-25px;}
#preference5{position:relative;
    left:-25px;}
#preference6{position:relative;
    left:-33px;}
#preference7{position:relative;
    left:-39px;}
#lmasc{position:relative;
    left:-48px;}
#lfem{position:relative;
    left:4px;}
#lradio1{position:relative;
    left:-3px;}
#lradio2{position:relative;
    left:-3px;}
#lradio3{position:relative;
    left:-3px;}
#lradio4{position:relative;
    left:-3px;}
#lpreference1{position:relative;
    left:-3px;}
#lpreference2{position:relative;
    left:-3px;}
#lpreference3{position:relative;
    left:-3px;}
#lpreference4{position:relative;
    left:-3px;}
#lpreference5{position:relative;
    left:-3px;}
#lpreference6{position:relative;
    left:-3px;}
#lpreference7{position:relative;
    left:-3px;}
#submit_form{
    position:relative;bottom:200px;
}
#form p label input.value{
    font-family: 'Roboto', sans-serif;
}